a:link {
    text-decoration: none;
    color:#657786;
}
a:hover {
    text-decoration: underline;
    color:#657786;
}
a:visited {
    text-decoration: none;
    color:#657786;
}
.myname{
    float: left;
    margin-left: 10px;
    margin-top: 6px;
}
.name{
    font-size: 18px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bold;
    color: #14171A;
}
#handle{
    position:relative;
    right:32px;
    font-size:14px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: normal;
    color: #8896A2;
}
#parentstats{
    padding:16px;
}
.stats{
    font-size: 12px;
    color: #657786;
    font-family: "Segoe UI",Arial,sans-serif; 
    font-weight:bold;
}
#tweetinfo{
    position:relative;
    right:145px;
    top: 10px;
}
#followinginfo{
    position: relative;
    right:62px;
    top:-5px;
}
#followerinfo{
    position: relative;
    right:-66px;
    top:-21px;
}
.numbers{
    color:#1B95E0;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight:bold;
    font-size:18px;
    padding:3px;
}
#tweets{
    position:relative;
    top:-25px;
    right:115px;
}
#following{
    position:relative;
    top:-55px;
    right:45px;
}
#followers{
    position:relative;
    top:-85px;
    right:-50px;
}
#trends-wrapper{
    border: 1px;
    margin-bottom: 10px;
    padding: 15px;
    display: inline-block;
}
.hashtags{
    font-weight: bold;
    color:#1B95E0;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size:14px;
}
.hashtags:hover{
    text-decoration: underline;
}
.subheader{
    font-size:12px;
    font-family: "Segoe UI",Arial,sans-serif;
    color:#657786;
}
.trendingnow{
    margin-top: 10px;
}
.subtext{
    display: inline-block !important;
    font-size:12px !important;
    font-weight: normal !important;
    color:#1B95E0 !important;
}
.subtext:hover{
    color:#1B95E0 !important;
    text-decoration: underline;
}
.subtext:link {
    text-decoration: none;
    color:#1B95E0 !important;
}
.dot{
    display: inline-block;
    color: 14171A !important;
    font-size:12px !important;
    font-weight:normal !important;
    padding-left: 4px;
    padding-right:4px;
    position:relative;
    top:-2px;
}
#tweetboxcontainer{
    padding-left: 12px;
    padding-right:12px;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
}
#textbox{
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom:8px;
    margin-right:31px;
    width: 467px;
    height:20px;
    border:none;
    
}
:-ms-input-placeholder { 
    font-family: "Segoe UI",Arial,sans-serif;
    font-size:14px;
    color:#1B95E0;
   }