a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.myname{
    float: left;
    margin-left: 10px;
    margin-top: 6px;
}
#name{
    font-size: 18px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bold;
}
/* .twhandle{
    position: relative;
    right:30px;
} */
#handle{
    position:relative;
    right:38px;
    font-size:14px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: normal;
    font-color: #8896A2;
}