#container{
    padding-left:12px;
    padding-right: 12px;
    padding-top:9px;
    padding-bottom:9px;
    height:434px;
    display:inline;
    float:left;
}
.profilename{
    float:left;
    padding-left:5px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight:bold;
    font-size:14px;
    cursor: pointer;
}
.profilename:hover{
    text-decoration:underline;
    color:#1DA1F2;
}
.avatar{
    float:left;
}
.Handle{
    font-size:14px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: normal;
    color: #8896A2;
    display:inline-block;
    padding-left:3px;
}
.dot{
    display: inline-block;
    color: 14171A !important;
    font-size:12px !important;
    font-weight:normal !important;
    padding-left: 4px;
    padding-right:4px;
    position:relative;
    top:-2px;
}
#content{
    font-family: "Segoe UI",Arial,sans-serif;
    color: #14171a;
    cursor: pointer;
    /* display:inline-block; */
    font-size: 14px;
    line-height: 20px;
    margin-left:10px;
}
#link{
    color:#1B95E0;
}
#link:hover{
    text-decoration:underline;
}
#pic1{
    width:505.984px;
    height:316.23px;
    margin-left:50px;
    border:1px solid;
    border-color:#E1E8ED;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#pic2{
    width:506px;
    height:336.406px;
    margin-left:50px;
    border:1px solid;
    border-color:#E1E8ED;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#pic3{
    width:506px;
    height:336.406px;
    margin-left:50px;
    border:1px solid;
    border-color:#E1E8ED;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#Post1{
    position:absolute;
    left:490px;
    top:116px;
    width:588px;
    height:418px;
}
#Post2{
    position:absolute;
    left:490px;
    top:535px;
    width:588px;
    height:448px;
}
#Post3{
    position:absolute;
    left:490px;
    top:983px;
    width:588px;
    height:448px;
}
#icons{
    clear:both;
    color:#90A4AE;
    margin-top:10px;
    margin-left:50px;
}
#verify{
    color:#1DA1F2;
    margin-left:2px;
}
#caret{
    float:right;
    color:#B9C4C9;
}
#retweet{
    padding-left:50px;
}
#like{
    padding-left:50px;
}
#message{
    padding-left:50px;
}
#counter{
    padding-left:5px;
    font-size: 12px;
    font-weight:bold;
    font-family: "Segoe UI",Arial,sans-serif;
}
#c:hover,#m:hover{
    color:#1DA1F2;
    cursor: pointer;
}
#r:hover{
    color:#3FC97E;
    cursor: pointer;
}
#l:hover{
    color:#E0245E;
    cursor: pointer;
}
