#Container{
    padding: 15px;
}
.name{
    font-size: 18px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bold;
    color: #14171A;
}
.dot{
    display: inline-block;
    color: 14171A !important;
    font-size:12px !important;
    font-weight:normal !important;
    padding-left: 4px;
    padding-right:4px;
    position:relative;
    top:-2px;
}
.InternalContainer{
    width:260px;
    height:73px;
}
.FollowAvatar{
    clear:both;
    margin-top:10px;
    margin-right:10px;
    float:left;
}
.PersonToFollowName{
    font-weight:bold;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 14px;
    /* position:relative;
    top:-35px; */
    display:inline-block;
    padding-top:10px;
}
.PersonToFollowHandle{
    font-size:14px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: normal;
    color: #8896A2;
    display:inline-block;
    padding-left:3px;
}
.InternalContainer{
    width:260px;
    height:73px;
}
#Connect{
    font-size:12px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    font-family: "Segoe UI",Arial,sans-serif;
}
.subtext{
    display: inline-block !important;
    font-size:12px !important;
    font-weight: normal !important;
    color:#1B95E0 !important;
    cursor:pointer;
}
.subtext:hover{
    color:#1B95E0 !important;
    text-decoration: underline;
}
.subtext:link {
    text-decoration: none;
    color:#1B95E0 !important;
}